/* Overall container */
.App {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #512D9A, #2D1066);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

/* Heading */
h1 {
  font-size: 2.5em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Form styling */
form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

/* Form elements */
div {
  margin-bottom: 20px;
}

/* Label styling */
label {
  font-size: 1.1em;
  color: #34495e;
  margin-bottom: 8px;
  display: block;
}

/* Location select (specific input changes) */
select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #bdc3c7;
  font-size: 1.2em;
  /* Increased font size */
  transition: all 0.3s ease;
  margin-top: 5px;
  height: 50px;
  /* Increased height */
}

/* Input fields */
input {
  width: 80%;
  padding: 5px;
  /* Increased padding */
  border-radius: 6px;
  border: 2px solid #bdc3c7;
  font-size: 1.3em;
  /* Larger font size */
  transition: all 0.3s ease;
  height: 40px;
  /* Larger height */
}

/* Input focus state */
input:focus,
select:focus {
  border-color: #512D9A;
  outline: none;
  box-shadow: 0 0 8px rgba(81, 45, 154, 0.5);
}

/* Submit button */
button {
  background-color: #512D9A;
  color: white;
  padding: 12px;
  font-size: 1.2em;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2D1066;
}

/* Estimated price display */
h2 {
  font-size: 1.5em;
  color: #27ae60;
  margin-top: 20px;
  text-align: center;
}

/* Error message */
h3 {
  font-size: 1.2em;
  color: #e74c3c;
  text-align: center;
}
.loading-container {
  width: 10%;
  max-width: 600px;
  height: 50px;
  background-color: #FFFFFF;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  /* Add this line for rounded corners */
}

.loading-bar {
  width: 100%;
  /* Corrected to include px */
  height: 100%;
  background-color: #4CAF50;
  /* Add a color for visibility */
  animation: loading 2s infinite;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes loading {
  0% {
    left: -40px;
  }

  100% {
    left: 100%;
  }
}

/* Responsive styling */
@media screen and (max-width: 768px) {
  .App {
    padding: 10px;
  }

  h1 {
    font-size: 2em;
  }

  form {
    padding: 20px;
    width: 100%;
    max-width: 500px;
  }

  input,
  select,
  button {
    font-size: 1em;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  form {
    padding: 15px;
    width: 100%;
    max-width: 100%;
  }

  input,
  select,
  button {
    font-size: 0.9em;
    padding: 8px;
  }
}